# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Run python tests

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8]
        pytorch-install: [
            "torch==1.7.1+cpu -f https://download.pytorch.org/whl/torch_stable.html",
        ]
        include:
          - python-version: 3.7
            pytorch-install: "torch==1.6.0+cpu -f https://download.pytorch.org/whl/torch_stable.html"
          - python-version: 3.7
            pytorch-install: "--pre torch -f https://download.pytorch.org/whl/torch_nightly.html"

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      env:
        TORCH_INSTALL: ${{ matrix.pytorch-version }}
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest pytest-cov codecov
        pip install $TORCH_INSTALL
        if [ $TORCH_VERSION == "nightly" ]; then
          pip install --pre torch -f https://download.pytorch.org/whl/torch_nightly.html
        else
          pip install torch==$TORCH_VERSION torchvision==0.8.2+cpu torchaudio==0.7.2 -f https://download.pytorch.org/whl/torch_stable.html
        fi
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        pip install .[all]
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test with pytest
      run: |
        pytest
      env:
        OMP_NUM_THREADS: 1
        MKL_NUM_THREADS: 1
    - name: Codecov
      run: |
        codecov
